.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-details {
  border: 2px groove #ffffff;
  border-radius: 2px;
  padding: 5px;
}

.add-new {
  margin: 5px;
}

.contact-actions {
  margin: 2px;
  float: right;
}

.contact-info {
  float: left;
}

input[type=button] {
  margin: 2px;
}
