/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="button"],
input[type="submit"] {
  border: 1px solid#2e6da4;
  font-size: 0.8em;
  background-color: #337ab7;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}

input[type="text"] {
  border: 1px solid#2e6da4;
  font-size: 1em;
  padding: 0.5em;
  margin: 2px;
  border-radius: 2px;
}
